.para{
    background-color: #19232D;
    height: 50px;
    
}
.footer{
    background-color: #2A3B4D;

}
.card{
    background-color: transparent;
}
.icon{
    border: 1px solid white;
    border-radius: 50%;
   padding: 10px 10px;
   margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}