<div class="footer position-sticky overflow-hidden pt-5">
    <div  class="card-group m-4">
        <div class="container">
              <div class="row">
                <div class="col-lg-4">
                    <div  class="card border-0">
                        <div  class="card-body text-center text-white">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
            </div></div>
                </div>
           <div class="col-lg-4">
            <div class="card border-0">
                <div class="card-body text-center text-white">
                <h3>AROUND THE WEB</h3>
                <div  class="icons mt-2 d-flex justify-content-center">
                   <div class="icon"> <i class="fa-brands fa-facebook mx-1"></i> </div> 
                   <div class="icon">  <i  class="fa-brands fa-twitter mx-1"></i> </div>
                   <div class="icon"><i  class="fa-brands fa-linkedin-in mx-1 "></i></div>
                    <div class="icon"><i  class="fa-solid fa-globe mx-1 "></i> </div>
                </div>
                </div>
                </div>
           </div>
        
          <div class="col-lg-4">
            <div  class="card border-0">
                <div  class="card-body text-center text-white">
                <h3>ABOUT FREELANCER</h3>
                <p> Freelance is a free to use, licensed Bootstrap theme created by Route </p>
            </div>
        </div>
          </div>
              </div>
        </div>
  
</div>
</div>
<div  class="para text-center position-sticky pt-3  d-flex align-items-center justify-content-center">
    <p class="text-white">Copyright © Your Website 2021</p>
</div>
