<div class="about vh-100 d-flex flex-column justify-content-center align-items-center overflow-auto p-5">
    <h2 class="text-uppercase text-white  fs-1 fw-bolder mt-4">ABOUT COMPONENT</h2>
    <div class="line w-50 mx-auto d-flex justify-content-center mt-4">
       <i class="fa-solid fa-star text-white"></i>
    </div>
    <div class="content mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-white"> 
                     Freelancer is a free bootstrap theme created by Route.
                        The download includes the complete source files including HTML, CSS, 
                        and JavaScript as well as optional SASS stylesheets for easy customization.
                     </p>
                </div>
                <div class="col-md-6">
                    <p class="text-white"> Freelancer is a free bootstrap theme created by Route.
                         The download includes the complete source files including HTML, CSS, 
                        and JavaScript as well as optional SASS stylesheets for easy customization.
                     </p>
                </div>
            </div>
         </div>
    </div>
    
   </div>