<nav  class="navbar navbar-expand-lg fixed-top">
    <div  class="container">
        <a  class="navbar-brand  text-uppercase text-white  fw-bolder fs-2" >
            Start Framework </a>
<button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
    <span  class="navbar-toggler-icon"></span>
</button>
<div  id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul  class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li  class="nav-item me-3">
        <a routerLink="about" routerLinkActive="active"  class="nav-link  text-uppercase text-white fw-bold mt-3 mt-md-0 px-2 rounded-3">
            about</a>
        </li>
        <li  class="nav-item me-3">
            <a routerLink="portfolio" routerLinkActive="active"  class="nav-link  text-uppercase text-white  fw-bold mt-3 mt-md-0 px-2 rounded-3">portfolio</a></li>
            <li  class="nav-item me-3"><a routerLink="contact" routerLinkActive="active" class="nav-link  text-uppercase text-white  fw-bold mt-3 mt-md-0 px-2  rounded-3">contact</a></li>
        </ul>
    </div>
</div>
</nav>
