<div class="home d-flex flex-column justify-content-between align-items-center overflow-auto p-5">
    <img src="assets/images/avataaars.svg" class="w-25" alt="">
    <h2 class="text-uppercase text-white  fs-1 fw-bolder mt-2">start Framework</h2>
    <div class="line w-50 mx-auto d-flex justify-content-center mt-2">
       <i class="fa-solid fa-star text-white"></i>
    </div>
     <div class="mt-2">
       <span class="text-white">Graphic Artist - Web Designer - Illustrator</span>
     </div>
   </div>
